body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {

/*     border-top: 6px solid black; */
    border-top: 6px solid #acaaaa;
    background-color: rgb(245, 245, 245);
	
/*     border-top: 1px solid #d5d5d5; */
    font-size: .8em;
/*     background-color: lightgray; */
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* =============================old========================= */
/* ul.tabs{
	border-bottom: 6px solid #acaaaa;
  	background-color: rgb(245, 245, 245);
}
ul.tabs li{
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
 ul.tabs li.current{
	background: #ededed;
	color: #222;
}
*/

/* =============================new========================= */
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.tabs li {
  float: left;
}

ul.tabs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

ul.tabs li a:hover {
  background-color: #111111;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
/* ====================================================== */

/* ul.footer{
	border-top: 6px solid black;
  	background-color: rgb(245, 245, 245);
}
ul.footer li{
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
} */
.project_text{
	float: left;
	width: 80%;
}
.project_image{
	float: right;
	width: 30%;
	margin-top: 20px;
}
.project_text1{
	float: left;
	width: 70%;
}
.project_image1{
	float: right;
	width: 30%;
	margin-top: 20px;
}

/* .project{
	width: 30%;
} */
