<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:rgb(250, 250, 250);" >
			<nav>
	    		<ul style="background-color:rgb(255, 255, 255); >
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
				<li><a href="/education">Education</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/internships">Internships</a></li>
				<li><a href="/honours">Honours</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="background-color:rgb(255, 255, 255);" >
				<center>
	    				<ul>
						<li><a href="mailto:singh.raj1997@gmail.com">email</a></li>
						<li><a href="https://github.com/iamrajee">github</a></li>
						<li><a href="https://www.linkedin.com/in/rajendra-singh-6b0b3a13a/">linkedin</a></li>
					</ul>
					Copyright&copy;2019 - Rajendra Singh
				</center>
			</footer>
		</body>
	</html>
