<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:rgb(252, 252, 252);" >
<!-- 			style="background-color:rgb(250, 250, 250);" -->
			<nav>
	    		<ul class="tabs">
<!-- 				style="background-color:rgb(252, 252, 252);" -->
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
				<li><a href="/education">Education</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/projects">Project</a></li>
				<li><a href="/internships">Internship</a></li>
				<li><a href="/seminar">Seminar</a></li>
				<li><a href="/honours">Honours</a></li>
				
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<center>
	    				<ul class="footer">
						<li><a href="mailto:singh.raj1997@gmail.com">Email</a></li>
						<li><a href="https://github.com/iamrajee">Github</a></li>
						<li><a href="https://www.linkedin.com/in/rajendra-singh-6b0b3a13a/">Linkedin</a></li>
						<li><a href="https://www.youtube.com/channel/UCzNSEsxHfpq_84-EkU9CRnQ?view_as=subscriber">Youtube</a></li>
						
					</ul>
					<br/>
<!-- 					<em>Copyright&copy;2019 - Rajendra Singh</em> -->
					<em>&copy; All rights reserved</em>
					<br/><br/>
				</center>
			</footer>
		</body>
	</html>
